<% provide(:title, "API Documentation") %>
<div class="container form-page api-docs">
  <h1>Carpe Diem API Documentation</h1>
  <hr>

  <h3>Return all Goals</h3>
  <p><em>curl https://seize-the-day.herokuapp.com/api/goals</em></p>
  <hr>

  <h3>Return a single Goal with associated Entries</h3>
  <p>Add the goal id before .json to return a single goal.</p>
  <p><em>curl https://seize-the-day.herokuapp.com/api/goals/id.json</em></p>
  <hr>

  <h3>Return a User's Goals and Entries</h3>
  <p>To return a single user's goals and entries, add the User's username before .json. The name is case sensitive.</p>
  <p><em>curl https://seize-the-day.herokuapp.com/api/users/username.json</em></p>
</div>
