<% if user_signed_in? && @goal.user == current_user %>
  <p>
  <% if !@goal.completed? %>
    <%= link_to 'Mark as Completed.', completed_goal_path(@goal), method: :patch, class: "btn btn-sm btn-warning btn-visited btn-goal" %>
  <% else %>
    <%= link_to 'Goal Completed.', incomplete_goal_path(@goal), method: :patch, class: "btn btn-sm btn-success btn-visited btn-goal" %>
  <% end %>
  </p>
<% end %>
