@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

/* Main CSS for site. Includes Front Page styles, Navbar style, Footer style and CSS for commonly used elements site-wide. */

body {
  padding-top: 50px;
  background: #DCDCD8 !important;
  color: #494948 !important;
}

/* Override default bootstrap link colors */

a {
  color: #199E7C !important;
}

.btn {
  border-radius: 0px !important;
}


.navbar {
  border: none;
  background: #199E7C;
}

a.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 1.75em;
}

.navbar a {
  color: #fff !important;
  margin-top: 5px;
  &:hover {
    opacity: 0.5;
  }
}

/* New goal button on nav bar */

.navbar-btn {
  margin-top: 5px;
  a {
    font-size: 1em;
    &:hover {
      background: #199E7C !important;
      opacity: 1 !important;
    }
  }
}

/* Dropdown menu active state color */

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {

}

/* Dropdown submenu color on hover, focus */

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background: #199E7C !important;
  color: #fff !important;
}

/* Dropdown menu background color */

.dropdown-menu {
  background: #199E7C;
}

/* Set flash message bottom margin to 0 */

.alert {
  margin-top: 5px;
  margin-bottom: 0;
}

/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  background: #199E7C;
  height: 425px !important;
}

.text-container  {
  color: #fff;
  h1 {
    font-family: 'Pacifico', cursive;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  ul {
      padding: 0;
    li {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.3em;
      margin-bottom: 20px;
    }
  }
}

/* Keep visited button link white */
a.btn-visited:visited {
  color: white;
}

.jumbotron .btn {
  font-family: 'Montserrat', sans-serif;
  padding: 14px 24px;
  font-size: 0.75em;
  margin-top: 10px;
  border: 2px solid #fff;
  background: #199E7C;
  &:hover {
    background: #fff;
    color: #199E7C !important;
  }
}

.avatar {
  padding: 2px;
  border: 1px solid #8B8B7E;
}

.glyphicon {
  opacity: 0.90;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  margin-top: -10px;
  margin-bottom: 15px;
}

.home-padding {
  position: relative;
  background: #F5F5F0;
  word-wrap: break-word;
  height: 175px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  p.want-to {
    position: absolute;
    top: 70px;
    right: 20px;
    left: 110px;
    font-size: 1.25em;
    font-family: 'Montserrat', sans-serif;
  }
  .avatar {
    position: absolute;
    left: 20px;
    top: 40px;
  }
}

.view-more {
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.btn-success{
  color: #fff !important;
  background: #00936E;
  border: none;
  font-family: 'Montserrat', sans-serif;
  &:hover {
    background: #199E7C;
  }
  &:active {
    background: #199E7C;
  }
  &:visited {
    color: #fff !important;
  }
}

/* Tag sizes and colors */

div.top-tags {
  text-align: center;
  padding-top: 30px 10px 30px 10px;
}

a.large {
  font-weight: bold;
  font-size: 25px;
  color: #AA3939 !important;
}

a.medium {
  font-weight: bold;
  font-size: 20px;
  color: #00936E !important;
}

/* Footer CSS */

footer {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
}
