/* CSS stylesheet for individual Goal pages including nested entries. */

.goal-page {
  position: relative;
  background: #F5F5F0;
  padding-bottom: 30px;
  margin-top: 50px;
  a {
    color: #199E7C !important;
  }
}

.goal-avatar {
  margin-top: 20px;
}

.user-info {
  margin-top: 20px;
}

.user-goal {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
  color: #494948;
}

a.btn-goal {
  font-family: 'Montserrat', sans-serif;
  clear: right;
  font-size: 15px !important;
  color: #fff !important;
  margin-bottom: 15px;
  &:visited {
    color: #fff !important;
  }
}

.glyphicon-eye-close {
  margin-left: 5px;
}

p.control {
  position: absolute;
  right: 20px;
  margin-top: 15px;
}

/* Goal page entries CSS */

.new-entry {
  position: absolute;
  left: 20px;
  margin-top: 20px;
  .btn-primary {
    color: #fff !important;
  }
}

.entries-title {
  margin-top: 5px;
}

.entries {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
}

ul.entries {
  list-style: none;
  padding-left: 20px;
  margin-left: -20px;
  .no-entries {
    font-size: 17px;
  }
  .entry {
    padding: 20px 15px 10px 15px;
  }
}

.entries {
  padding-top: 10px;
  padding-bottom: 5px;
  li:nth-of-type(odd) {
    background: #E2E2D4;
  }
}

.entry-control {
  margin-top: -10px;
}

.cheer-count {
  font-weight: bold;
}

.goal-page-entry-control {
  margin-top: 5px;
}

.created {
  float: right;
  margin-top: -20px;
}

li.no-entries {
  text-align: center;
  height: 50px;
  padding-top: 10px;
  background: #F5F5F0 !important;
}

.goal-tags-title {
  margin-top: 15px;
}

.goal-tags {
  text-align: center;
  padding-top: 15px;
  .tag {
    font-size: 1.2em;
  }
}

a.social-share-button-twitter {
  background: image-url('twitter_share.png') no-repeat;
  width: 150px;
  height: 50px;
}

a.social-share-button-facebook {
  background: image-url('facebook_share.png') no-repeat;
  width: 150px;
  height: 50px;
  margin-left: 5px;
}
