// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.large {
  font-weight: bold;
  font-size: 25px;
  color: #AA3939 !important;
}

a.medium {
  font-weight: bold;
  font-size: 20px;
  color: #00936E !important;
}

a.small {
  font-size: 15px;
  color: #FF6600 !important;
}
