/* CSS for Recent Goals page, Forms, Activity Feed, and API docs page. Also includes, site-wide styling for pagination links */

.recent-goals {
  margin-top: 40px;
  h4 {
    margin-bottom: 15px;
  }
}

.pagination {
  display: inline-block;
}

.form-page {
  position: relative;
  background: #F5F5F0;
  padding-bottom: 30px;
  margin-top: 40px;
  h3 {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
  }
}

.entry-form {
  margin-top: 40px;
  .form-page {
    margin-top: 10px;
  }
}

.api-docs {
  h1 {
    font-family: 'Montserrat', sans-serif;
  }
}

.feed {
  font-family: 'Montserrat', sans-serif;
  a {
    font-family: 'Montserrat', sans-serif;
  }
}

ul.feed-items {
  margin-left: 10px;
  padding: 0;
  font-size: 1.25em;
  background: #F5F5F0;
  padding: 30px;
  width: 100%;
}
