/* CSS for User Profile Page */

.full-width-container {
  height: 275px;
  width: 100%;
  background: #F5F5F0;
  padding-top: 50px;
}

.profile-container {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  width: 350px;
  margin: 0 auto;
  a {
    font-weight: bold;
  }
}

.profile-avatar {
  margin-top: 20px;
  float: left;
}

.user-basics {
  margin-left: 30px;
  text-align: left;
  float: left;
  font-family: 'Montserrat', sans-serif;
}

.completed-count {
  font-size: 1.15em;
  font-weight: bold;
  opacity: 0.9;
}

h1.username {
  font-size: 2.5em;
  margin: 0;
  margin-bottom: 15px;
}

ul li {
  list-style: none;
}

ul.user-friends {
  font-size: 1.15em;
  font-weight: bold;
  opacity: 0.9;
  padding: 0;
  li {
    display: inline-block;
  }
}

ul.followers {
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

ul.followers li {
  display: inline-block;
  font-weight: bold;
  margin: 10px;
}

.user-goals {
  clear: left;
  padding-top: 30px;
}

span.completed {
  position: absolute;
  top: 5px;
  right: 10px;
}
