.full-width-container {
  height: 275px;
  width: 100%;
  background: #fff;
  padding-top: 50px;
}

.profile-container {
  font-family: 'Montserrat', sans-serif;
  color: #494948;
  padding: 10px;
  width: 330px;
  margin: 0 auto;
  a {
    font-weight: bold;
  }
}

.profile-avatar {
  margin-top: 20px;
  float: left;
}

h1.username {
  font-size: 3em;
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Pacifico', cursive;
  color: #494948;
}

.user-basics {
  margin-left: 30px;
  text-align: left;
  float: left;
}

ul li {
  list-style: none;
}

ul.user-friends {
  padding: 0;
  li {
    display: inline-block;
  }
}

.user-goals {
  clear: left;
  padding-top: 30px;
}

span.completed {
  position: absolute;
  top: 5px;
  right: 10px;
}
