<footer>
    <p>Need help with something? <%= mail_to 'selene6023@gmail.com', 'Contact Me.' %> | <%= link_to 'Api Documentation', pages_api_path %></p>
    <p>This site is powered by <%= link_to 'Ruby on Rails', "http://rubyonrails.org/" %>.</p>
</footer>
